In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
dataframe = pd.read_csv("./BANGALORE.csv")
dataframe

,_id,Date Time,profile,company,Location,Start Date,Stipend,Duration,Apply by Date,Offer,Skills and Perks
0,5f9fc1e3fb43357b9094a297,2020-11-02 13:52:57,Fashion Design,Enamor,Bangalore,Immediately,5000 /month,2 Months,11 Nov' 20,Internship,"[""MS-Office"",""Adobe Illustrator"",""CorelDRAW"",""..."
1,5f9fc1e4fb43357b9094a298,2020-11-02 13:52:59,Operations,Lakshmi Tools & Components,Hoskote,Immediately,12000 /month,1 Month,16 Nov' 20,Internship,"[""Chemistry"",""Certificate"","" Letter of recomme..."
2,5f9fc1e4fb43357b9094a299,2020-11-02 13:53:00,Photography,Evineon Technologies,Bangalore,Immediately,10000-12000 /month,3 Months,16 Nov' 20,Internship,"[""Flexible work hours"","" Free snacks & beverag..."
3,5f9fc1e5fb43357b9094a29a,2020-11-02 13:53:00,Social Media Marketing,VisualNet Private Limited,Bangalore,Immediately,7000 /month,6 Months,16 Nov' 20,Internship,"[""MS-Office"",""Certificate"","" Letter of recomme..."
4,5f9fc1e6fb43357b9094a29b,2020-11-02 13:53:01,Business Development (Sales),DM Consulting (India) Private Limited,Bangalore,Immediately,5000 /month,6 Months,16 Nov' 20,Internship,[]
...,...,...,...,...,...,...,...,...,...,...,...
508,5f9fc3c3fb43357b9094a493,2020-11-02 14:00:59,Architecture,Buildcom,Bangalore,Immediately,5000-10000 /month,2 Months,9 Nov' 20,Internship with job offer,"[""AutoCAD"",""Adobe Photoshop"",""Autodesk Revit"",..."
509,5f9fc3c4fb43357b9094a494,2020-11-02 14:00:59,Graphic Design,Buildcom,Bangalore,Immediately,5000-10000 /month,2 Months,7 Nov' 20,Internship with job offer,"[""Adobe Photoshop"",""Adobe Illustrator"",""Adobe ..."
510,5f9fc3c5fb43357b9094a495,2020-11-02 14:01:00,Business Development (Sales),Webpulse Solution Private Limited,Indore,Immediately,8000 /month + Incentives,6 Months,3 Nov' 20,Internship with job offer,"[""Certificate"","" Job offer""]"
511,5f9fc3c6fb43357b9094a496,2020-11-02 14:01:01,Full-stack Development,Kualify Services Private Limited,Gurgaon,Immediately,10000-15000 /month,3 Months,2 Nov' 20,Internship,"[""CSS"",""JavaScript"",""Node.js"",""Express.js"",""Re..."
512,5f9fc3c7fb43357b9094a497,2020-11-02 14:01:02,Big Data & Full Stack Software Development,Tercept Incorporation,Bangalore,Immediately,15000-20000 /month,3 Months,2 Nov' 20,Internship with job offer,"[""Java"",""JavaScript"",""Python"",""Node.js"",""Certi..."

In [3]:
dataframe.isna().sum()

_id                 0
Date Time           0
profile             0
company             0
Location            0
Start Date          0
Stipend             0
Duration            0
Apply by Date       0
Offer               0
Skills and Perks    0
dtype: int64

In [4]:
dataframe.loc[dataframe.duplicated()]

Empty DataFrame
Columns: [_id, Date Time, profile, company, Location, Start Date, Stipend, Duration, Apply by Date, Offer, Skills and Perks]
Index: []

In [5]:
dataframe.loc[dataframe.duplicated(subset='profile')]

,_id,Date Time,profile,company,Location,Start Date,Stipend,Duration,Apply by Date,Offer,Skills and Perks
5,5f9fc1e7fb43357b9094a29c,2020-11-02 13:53:02,Social Media Marketing,"Zyena Technologies SDN, BHD, Malaysia",Coimbatore,Immediately,5000-10000 /month,3 Months,16 Nov' 20,Internship with job offer,"[""Digital Marketing"",""Certificate"","" Letter of..."
10,5f9fc1ebfb43357b9094a2a1,2020-11-02 13:53:07,Business Development (Sales),Transchamp,Bangalore,Immediately,15000-18000 /month,6 Months,16 Nov' 20,Internship,"[""Salesforce"",""Certificate""]"
11,5f9fc1ecfb43357b9094a2a2,2020-11-02 13:53:07,Business Development (Sales),Gayathri Design Studio,Bangalore,Immediately,3000 /month,3 Months,16 Nov' 20,Internship,"[""Tally"",""MS-Excel"",""English Proficiency (Spok..."
14,5f9fc1eefb43357b9094a2a5,2020-11-02 13:53:10,Graphic Design,Knedge,Bangalore,Immediately,8000-12000 /month,3 Months,16 Nov' 20,Internship,"[""Adobe Photoshop"",""Adobe Illustrator"",""Adobe ..."
16,5f9fc1f0fb43357b9094a2a7,2020-11-02 13:53:11,Social Media Marketing,Bodhsara Wellness And Salt Studio,Bangalore,Immediately,9000-12000 /month,3 Months,15 Nov' 20,Internship,"[""Certificate"","" Letter of recommendation"","" I..."
...,...,...,...,...,...,...,...,...,...,...,...
505,5f9fc3c1fb43357b9094a490,2020-11-02 14:00:56,Business Development (Sales),ThePendits,Bangalore,Immediately,2000 /month + Incentives,2 Months,10 Nov' 20,Internship with job offer,"[""Certificate"","" Letter of recommendation"","" F..."
506,5f9fc3c2fb43357b9094a491,2020-11-02 14:00:57,Business Development (Sales),MothersFood,Faridabad,Immediately,7000-10000 /month,3 Months,9 Nov' 20,Internship,"[""Facebook Marketing"",""Email Marketing"",""Insta..."
508,5f9fc3c3fb43357b9094a493,2020-11-02 14:00:59,Architecture,Buildcom,Bangalore,Immediately,5000-10000 /month,2 Months,9 Nov' 20,Internship with job offer,"[""AutoCAD"",""Adobe Photoshop"",""Autodesk Revit"",..."
509,5f9fc3c4fb43357b9094a494,2020-11-02 14:00:59,Graphic Design,Buildcom,Bangalore,Immediately,5000-10000 /month,2 Months,7 Nov' 20,Internship with job offer,"[""Adobe Photoshop"",""Adobe Illustrator"",""Adobe ..."
510,5f9fc3c5fb43357b9094a495,2020-11-02 14:01:00,Business Development (Sales),Webpulse Solution Private Limited,Indore,Immediately,8000 /month + Incentives,6 Months,3 Nov' 20,Internship with job offer,"[""Certificate"","" Job offer""]"

In [6]:
dataframe.columns

Index(['_id', 'Date Time', 'profile', 'company', 'Location', 'Start Date',
       'Stipend', 'Duration', 'Apply by Date', 'Offer', 'Skills and Perks'],
      dtype='object')

In [7]:
dataframe_copy1 =dataframe.drop(columns=['_id', 'Date Time',  'company', 'Location', 'Start Date',
       'Stipend', 'Duration', 'Apply by Date', 'Offer']).copy()

In [8]:
dataframe_copy1

,profile,Skills and Perks
0,Fashion Design,"[""MS-Office"",""Adobe Illustrator"",""CorelDRAW"",""..."
1,Operations,"[""Chemistry"",""Certificate"","" Letter of recomme..."
2,Photography,"[""Flexible work hours"","" Free snacks & beverag..."
3,Social Media Marketing,"[""MS-Office"",""Certificate"","" Letter of recomme..."
4,Business Development (Sales),[]
...,...,...
508,Architecture,"[""AutoCAD"",""Adobe Photoshop"",""Autodesk Revit"",..."
509,Graphic Design,"[""Adobe Photoshop"",""Adobe Illustrator"",""Adobe ..."
510,Business Development (Sales),"[""Certificate"","" Job offer""]"
511,Full-stack Development,"[""CSS"",""JavaScript"",""Node.js"",""Express.js"",""Re..."
512,Big Data & Full Stack Software Development,"[""Java"",""JavaScript"",""Python"",""Node.js"",""Certi..."

In [9]:
dataframe_copy1["Skills and Perks"]

0      ["MS-Office","Adobe Illustrator","CorelDRAW","...
1      ["Chemistry","Certificate"," Letter of recomme...
2      ["Flexible work hours"," Free snacks & beverag...
3      ["MS-Office","Certificate"," Letter of recomme...
4                                                     []
                             ...
508    ["AutoCAD","Adobe Photoshop","Autodesk Revit",...
509    ["Adobe Photoshop","Adobe Illustrator","Adobe ...
510                         ["Certificate"," Job offer"]
511    ["CSS","JavaScript","Node.js","Express.js","Re...
512    ["Java","JavaScript","Python","Node.js","Certi...
Name: Skills and Perks, Length: 513, dtype: object

In [10]:
# for i in range(0 , 513):
#     string = ""
#     for ele in dataframe1["Skills and Perks"][i]:
#         if  ele != ',' or ele !='[' or ele != ']' :
#             string = string + ele 
#         elif ele == '"' or ele == ',' or ele =='[' or ele == ']' and i!=0 :
#             string = string + ','
#     dataframe1["Skills"][i] = string

In [11]:
dataframe_copy1

,profile,Skills and Perks
0,Fashion Design,"[""MS-Office"",""Adobe Illustrator"",""CorelDRAW"",""..."
1,Operations,"[""Chemistry"",""Certificate"","" Letter of recomme..."
2,Photography,"[""Flexible work hours"","" Free snacks & beverag..."
3,Social Media Marketing,"[""MS-Office"",""Certificate"","" Letter of recomme..."
4,Business Development (Sales),[]
...,...,...
508,Architecture,"[""AutoCAD"",""Adobe Photoshop"",""Autodesk Revit"",..."
509,Graphic Design,"[""Adobe Photoshop"",""Adobe Illustrator"",""Adobe ..."
510,Business Development (Sales),"[""Certificate"","" Job offer""]"
511,Full-stack Development,"[""CSS"",""JavaScript"",""Node.js"",""Express.js"",""Re..."
512,Big Data & Full Stack Software Development,"[""Java"",""JavaScript"",""Python"",""Node.js"",""Certi..."

In [12]:
dataframe_copy1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   profile           513 non-null    object
 1   Skills and Perks  513 non-null    object
dtypes: object(2)
memory usage: 8.1+ KB

## Analysis Conclusion 

- Most of the columns/features are well formated.
- Duplicate Values are present but are relevant
- No requirement of other columns except 'profile' 'Skills and Perks' thus dropping them

In [13]:
vectorizer = TfidfVectorizer()
matrix = vectorizer.fit_transform(dataframe_copy1["Skills and Perks"])

In [14]:
print(matrix.shape)

(513, 221)

In [15]:
cosine_sim = cosine_similarity(matrix , matrix)

In [20]:
def get_intership(skills):
    selected_skills = ', '.join(skills)

    user_vector = vectorizer.transform([selected_skills])
    # print("User Vector shape:", user_vector.shape)
    # print("Matrix shape:", matrix.shape)
    cosine_sim_with_selected_skills = cosine_similarity(user_vector, matrix)

    sim_scores = list(enumerate(cosine_sim_with_selected_skills[0]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    indices = [score[0] for score in sim_scores[:5]]
    recommendations = []
    for i in indices:
       recommendations.append({"Internship" : dataframe['profile'].iloc[i] , "Company" : dataframe["company"].iloc[i] , "Stipend" : dataframe["Stipend"].iloc[i] , "Location" : dataframe["Location"].iloc[i] ,"Start" : dataframe["Start Date"].iloc[i], "Duration" : dataframe["Duration"].iloc[i] , "Offer" : dataframe["Offer"].iloc[i]})
    
    return recommendations

In [22]:
user_selected_skills = ["AWS"]
recommendations_for_user_skills = get_intership(user_selected_skills)

for i in recommendations_for_user_skills:
    print(i)

{'Internship': 'Mobile App Development', 'Company': 'Fangover Food Services Private Limited', 'Stipend': ' 2000 /month', 'Location': 'Bangalore', 'Duration': '2 Months', 'Offer': 'Internship'}
{'Internship': 'DevOps Engineering', 'Company': 'Applicate IT Solutions Private Limited', 'Stipend': ' 15000 /month', 'Location': 'Gurgaon', 'Duration': '3 Months', 'Offer': 'Internship with job offer'}
{'Internship': 'Web Development', 'Company': 'Divineshop Ecommerce Solution Private Limited', 'Stipend': ' 5000 /month', 'Location': 'Chennai', 'Duration': '4 Months', 'Offer': 'Internship'}
{'Internship': 'Web Development', 'Company': 'Network Friendship Media Technology', 'Stipend': ' 9000 /month', 'Location': 'Bangalore', 'Duration': '2 Months', 'Offer': 'Internship'}
{'Internship': 'Web Development', 'Company': 'Seed Studio LLP', 'Stipend': ' 5000 /month', 'Location': 'Bangalore', 'Duration': '4 Months', 'Offer': 'Internship'}

In [18]:
user_selected_skills = ["HTMl"]
recommendations_for_user_skills = get_intership(user_selected_skills)
print(recommendations_for_user_skills)

[{'Internship': 'Web Development', 'Company': 'FirstHive', 'Stipend': ' 15000-20000 /month', 'Location': 'Bangalore', 'Duration': '6 Months', 'Offer': 0                     Internship
1                     Internship
2                     Internship
3                     Internship
4                     Internship
                 ...
508    Internship with job offer
509    Internship with job offer
510    Internship with job offer
511                   Internship
512    Internship with job offer
Name: Offer, Length: 513, dtype: object}, {'Internship': 'Web Development', 'Company': 'Inovexic', 'Stipend': ' 8000-15000 /month', 'Location': 'Bangalore', 'Duration': '3 Months', 'Offer': 0                     Internship
1                     Internship
2                     Internship
3                     Internship
4                     Internship
                 ...
508    Internship with job offer
509    Internship with job offer
510    Internship with job offer
511                   Internship
512    Internship with job offer
Name: Offer, Length: 513, dtype: object}, {'Internship': 'Web Development', 'Company': 'Buzet', 'Stipend': ' 10000 /month', 'Location': 'Bangalore', 'Duration': '3 Months', 'Offer': 0                     Internship
1                     Internship
2                     Internship
3                     Internship
4                     Internship
                 ...
508    Internship with job offer
509    Internship with job offer
510    Internship with job offer
511                   Internship
512    Internship with job offer
Name: Offer, Length: 513, dtype: object}, {'Internship': 'Web Development', 'Company': 'SmallBzr', 'Stipend': ' 5000-6000 /month', 'Location': 'Bangalore', 'Duration': '2 Months', 'Offer': 0                     Internship
1                     Internship
2                     Internship
3                     Internship
4                     Internship
                 ...
508    Internship with job offer
509    Internship with job offer
510    Internship with job offer
511                   Internship
512    Internship with job offer
Name: Offer, Length: 513, dtype: object}, {'Internship': 'Web Development', 'Company': 'Protoezy Designs Private Limited', 'Stipend': ' 10000 /month', 'Location': 'Bangalore', 'Duration': '2 Months', 'Offer': 0                     Internship
1                     Internship
2                     Internship
3                     Internship
4                     Internship
                 ...
508    Internship with job offer
509    Internship with job offer
510    Internship with job offer
511                   Internship
512    Internship with job offer
Name: Offer, Length: 513, dtype: object}]

In [19]:
user_selected_skills = ["Python"]
recommendations_for_user_skills = get_intership(user_selected_skills)
print(recommendations_for_user_skills)

[{'Internship': 'Big Data Development And Testing', 'Company': 'Blismos Solutions Private Limited', 'Stipend': ' 5000 /month', 'Location': 'Bangalore', 'Duration': '3 Months', 'Offer': 0                     Internship
1                     Internship
2                     Internship
3                     Internship
4                     Internship
                 ...
508    Internship with job offer
509    Internship with job offer
510    Internship with job offer
511                   Internship
512    Internship with job offer
Name: Offer, Length: 513, dtype: object}, {'Internship': 'GIS Engineering', 'Company': 'Satyukt Analytics Private Limited', 'Stipend': ' 10000 /month', 'Location': 'Bangalore', 'Duration': '6 Months', 'Offer': 0                     Internship
1                     Internship
2                     Internship
3                     Internship
4                     Internship
                 ...
508    Internship with job offer
509    Internship with job offer
510    Internship with job offer
511                   Internship
512    Internship with job offer
Name: Offer, Length: 513, dtype: object}, {'Internship': 'Subject Expert For Creating Tutorials (Python)', 'Company': 'Coursechamps Internet Ventures Private Limited', 'Stipend': ' 18000 /month', 'Location': 'Bangalore', 'Duration': '3 Months', 'Offer': 0                     Internship
1                     Internship
2                     Internship
3                     Internship
4                     Internship
                 ...
508    Internship with job offer
509    Internship with job offer
510    Internship with job offer
511                   Internship
512    Internship with job offer
Name: Offer, Length: 513, dtype: object}, {'Internship': 'Test Ops Engineering', 'Company': 'Flux', 'Stipend': ' 5000 /month', 'Location': 'Bangalore', 'Duration': '6 Months', 'Offer': 0                     Internship
1                     Internship
2                     Internship
3                     Internship
4                     Internship
                 ...
508    Internship with job offer
509    Internship with job offer
510    Internship with job offer
511                   Internship
512    Internship with job offer
Name: Offer, Length: 513, dtype: object}, {'Internship': 'Python Development', 'Company': 'Fin-School Education LLP', 'Stipend': ' 10000 /month', 'Location': 'Bangalore', 'Duration': '1 Month', 'Offer': 0                     Internship
1                     Internship
2                     Internship
3                     Internship
4                     Internship
                 ...
508    Internship with job offer
509    Internship with job offer
510    Internship with job offer
511                   Internship
512    Internship with job offer
Name: Offer, Length: 513, dtype: object}]